/*Especificidad: 002*/
main ul {
  padding-bottom:1em;
  list-style-type: none;

}
/*Especificidad: 003*/
main ul li {
  padding-bottom:0.5em;
  text-align: center;
}
/*Especificidad: 001*/
img{
  position:absolute;
  opacity:0.4;
}
