/*Especificidad: 011*/
input[type=text],input[type=email]{
    width:20em;
    border-radius: 0.5em;
}
/*Especificidad: 011*/
input[type=date]{
    width:10em;
    text-align: center;
    border-radius: 0.5em;
}
/*Especificidad: 011*/
input[type=submit]{
    border: none;
    background-color: black;
    color:white;
    border-radius: 0.5em;
    padding: 14px 20px;
    margin: 8px 0;
}
/*Especificidad: 021*/
input[type=submit]:hover{
    background-color: yellow;
    color:black;
}
/*Especificidad: 001*/
fieldset{
    padding-bottom: 2em;
    border:outset;
    border-color:#F0DB4F;
}
/*Especificidad: 001*/
textarea{
    resize: none;
}
form{
    width:100%;
}
