/*Especificidad: 001*/
table{
    margin:auto;
}
/*Especificidad: 001*/
th {
    text-align: center;
}
/*Especificidad: 001*/
td {
    font-size: 1em;
    text-align: center;
}
/*Especificidad: 012*/
tr:nth-child(odd){
    background-color: lightgray;
    color:black;
}
/*Especificidad: 012*/
tr:nth-child(even){
    background-color: lightyellow;
    color:black;
}

  
