*{
    background-color: bisque;
}
header{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    
}
main {
    background-color:black;
    width: 18.5em;
    height: 25em;
    border-radius: 5%;
    margin: 0 auto;
    margin-top: 5em;

}

main > form {
    display: grid;
    grid-template-columns: 2.5em 2.5em 2.5em 2.5em 2.5em;
    grid-template-rows:1.6em 1.6em 1.6em 1.6em 1.6em;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    margin-left: 1em;
    background-color: black;
    border-radius: 5%;
}
input[type=textarea] {
    resize: none;
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: #C0EAB3;
    height: 2em;
    margin-top: 1.5em;
    grid-row-start: 1;
    grid-row-end: 3;
    
}

input[type=button] {
    border-radius: 20%;
    background-color: gray;
    color: white;
}

/*input[type=button]:nth-child(4n+1) {
    background-color: red;
}*/
input[type=button]:nth-child(41) {
    background-color: blue;
}